<div class="container">
    <div class="card">
        <div class="fila">
            <div class="col-100 titulo">
                <h1>Listado de productos</h1>
                <button routerLink="/crear-producto">Añadir producto</button>
            </div>
        </div>
        <hr>
        <table class="clientes">
            <tr>
                <th>Cod. sku</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th></th>
            </tr>
            <tr *ngFor="let producto of productos">
                <td>{{producto?.sku}}</td>
                <td>{{producto?.nombre}}</td>
                <td>{{producto?.descripcion}}</td>
                <td>
                    <button class="warning" routerLink="/editar-producto/{{producto._id}}">
                        <img src="assets/edit.svg" alt="">
                    </button>
                    <button class="danger m-l-small" (click)="toggleModal(producto._id)">
                        <img src="assets/trash.svg" alt="">
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<app-modal *ngIf="showModal" [texto]="'¿Está seguro de eliminar este producto?'"
           (accion)="getAccion($event)"></app-modal>